@use './table.scss';
@use './dialog.scss';
@use './tag.scss';

* {
    margin: 0;
    padding: 0;
}

:root {
    --el-color-primary: #407fff;
    --el-font-family: cursive, Inter, Avenir, Helvetica, Arial, sans-serif;
    --el-form-label-font-size: 16px;
    --el-font-size-base: 16px;
}

.el-form-item--large {
    --font-size: 16px;
}

button, input {
    font-family: cursive, Inter, Avenir, Helvetica, Arial, sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: cursive, Inter, Avenir, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


